{{ $cfg := .Backends }}
[agent]
  interval = "30s"
  round_interval = true
  metric_buffer_limit = 10000

  collection_jitter = "0s"

  flush_interval = "30s"
  flush_jitter = "0s"

  precision = ""

  debug = false
  quiet = false
  logfile = ""

  hostname = ""
  omit_hostname = false

[[outputs.influxdb]]
urls = ["{{ .Influxdb }}"] # required
  database = "telegraf" 
  retention_policy = ""
  write_consistency = "any"

  timeout = "5s"
  # username = "telegraf"
  # password = "metricsmetricsmetricsmetrics"

{{ range $appGroup, $backends := $cfg }}
{{ range $backend := $backends }}
[[inputs.jolokia2_agent]]
  name_prefix = "{{$appGroup}}-" 
  urls = ["http://{{$backend.IP}}:{{$backend.Port}}/jolokia"]
  [inputs.jolokia2_agent.tags]
    group = "{{$appGroup}}" 
  
  # java metric
  ## runtime
  [[inputs.jolokia2_agent.metric]]
    name  = "java_runtime"
    mbean = "java.lang:type=Runtime"
    paths = ["Uptime"]
  
  ## memory
  [[inputs.jolokia2_agent.metric]]
    name  = "java_memory"
    mbean = "java.lang:type=Memory"
    paths = ["HeapMemoryUsage", "NonHeapMemoryUsage", "ObjectPendingFinalizationCount"]
  
  ## threading
  [[inputs.jolokia2_agent.metrics]]
    name  = "java_threading"
    mbean = "java.lang:type=Threading"
    paths = ["TotalStartedThreadCount", "ThreadCount", "DaemonThreadCount", "PeakThreadCount"]

  ## class loading
  [[inputs.jolokia2_agent.metrics]]
    name  = "java_class_loading"
    mbean = "java.lang:type=ClassLoading"
    paths = ["LoadedClassCount", "UnloadedClassCount", "TotalLoadedClassCount"]

  ## MemoryPool
  [[inputs.jolokia2_agent.metrics]]
    name     = "java_memory_pool"
    mbean    = "java.lang:name=*,type=MemoryPool"
    paths    = ["Type", "Usage", "PeakUsage", "CollectionUsage"]
    tag_keys = ["name"]
 
  ## garbage collector 
  [[inputs.jolokia2_agent.metric]]
    name     = "java_garbage_collector"
    mbean    = "java.lang:name=*,type=GarbageCollector"
    paths    = ["CollectionTime", "CollectionCount"]
    tag_keys = ["name"]

  ## Operating System
  [[inputs.jolokia2_agent.metrics]]
    name     = "java_operatingsystem"
    mbean    = "java.lang:type=OperatingSystem"
    paths    = ["SystemLoadAverage", "SystemCpuLoad", "MaxFileDescriptorCount", "TotalPhysicalMemorySize", "FreePhysicalMemorySize", "ProcessCpuLoad", "ProcessCpuTime", "OpenFileDescriptorCount", "AvailableProcessors"]

{{ end }}
{{ end }}
